* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #211D27;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.01em;
}

span {
  font-size: 18px;
  font-weight: 100;
  color: white;
}

.app {
  font-family: 'Sora', sans-serif;
  color: white;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero, .descrip {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.descrip {
  flex-direction: column;
}

.tagline {
  font-size: 30px;
  font-weight: 100;
  line-height: 39px;
  letter-spacing: 0em;
  max-width: 746px;
  color: #8C8B8F;
}

.animeImage {
  height: 20vh;
  width: auto;
  object-fit: contain;
  align-self: center;
}

.demo, .demo > a {
  width: 194px;
  height: 53px;
  margin-top: 2rem;

  background: #E6444F;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}